{{- range .Values.frontends }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  labels:
    app: {{ .name }}
spec:
  type: LoadBalancer
  selector:
    app: {{ .name }}
  ports:
    - port: 80
      targetPort: {{ .containerPort }}
---
{{- end }}
